.form-group {
  margin-bottom: 0.25rem !important;
}
.form-control {
  background-color: #007bff21 !important;
}
.blink_me {
  animation: blinker 1s linear 3s;
  color: #071ef4;
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}
.headertbl {
  background-color:#e8eef3;
  border-radius: 8px;
}
